


/* ----- General ----- */

.animation-subheading{
    opacity: 0;
}

@keyframes animation-subheading {
    from {
        transform: translateY(-1.8vw);
        opacity: 0.4;
    }

    to  {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation-photo {
    opacity: 0.6;
}

@keyframes animation-photo {
    from {
        background-size: 104% 104%;
        opacity: 0.6;
    }

    to  {
        background-size: 100% 100%;
        opacity: 1;
    }
}

.animation-photo-landscape {
    opacity: 0.6;
}

@keyframes animation-photo-landscape {
    from {
        background-size: 115% 115%;
        transform: translateX(-7%);
        opacity: 0.6;
    }

    to  {
        background-size: 100% 100%;
        transform: translateX(0);
        opacity: 1;
    }
}


/*---------Section 2 - When -----------*/

.animation-when {
    opacity: 0;
}

/* ------Section 5------*/


.animation-results {
    opacity: 0;
}


@keyframes animation-results {
    from {
        /* transform: translateY(-20px); */
        opacity: 0;
    }

    to  {
        /* transform: translate(0); */
        opacity: 1;
    }
}


.animation-list-item{
    opacity: 0;
}


@keyframes animation-list-item {
    from {
        transform: translatex(-2vw);
        opacity: 0;
    }

    to  {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes results-svg {
    0% {
        /* transform: translateY(-300px);  */
        opacity: 0.9;
        transform: scale(3);
    }

    100% {
        /* transform: translateY(0px); */
        opacity: 1;
        transform: scale(1);
    }
}


/* ------ Dontaions ------*/


.animation-donation {
    opacity: 0;
}


@keyframes animation-donation {
    from {
        /* transform: translateY(-20px); */
        opacity: 0;
    }

    to  {
        /* transform: translate(0); */
        opacity: 1;
    }
}