
.photo--curtain {
    position: relative;
    background-image: url('media/photo/curtain.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}



.photo--leaning {
    background-image: url('media/photo/leaning.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

.photo--injection {
    position: relative;
    background-image: url('media/photo/injection.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

.photo--leaning-phone {
    background-image: url('media/photo/leaning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.photo--injection-tablet {
    position: relative;
    background-image: url('media/photo/injection.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

.photo--beanie {
    background-image: url('media/photo/beanie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}


.photo--syringe {
    background-image: url('media/photo/syringe.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    z-index: 5;
}

.photo--syringe-phone {
    background-image: url('media/photo/syringe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}



.photo--skateboard {
    background-image: url('media/photo/skateboard.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

.photo--goggles-phone {
    background-image: url('media/photo/goggles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

