@media only screen and (max-width: 520px) {


    html {
        scroll-behavior: smooth;
    }

    body {
        font-size: 19px;
    }


    /*---------Section 1--------*/







    .scroll-arrow-1 {
        display: block;
    }

    /*---------Section 2--------*/


}