@media only screen and (min-width: 1401px) {


    html {
        scroll-behavior: smooth;
    }

    body {
        font-size: 19px;
    }

    p {
        font-weight: 200;
    }



    .spacer {
        width: 400px;
        transform: translateX(60px);
    }

    .spacer-black {
        width: 100px;
        transform: translateX(5vw);
    }

    .max-width {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    /*---------Section 1 - Hero --------*/



.hero {
    position: relative;
    top: 0%;
    max-height: 70vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

h1 {
    font-size: 50px;
    padding: 1vmin 0 1vmin 3vmin;
}

.header {

    grid-row: 1 / 2;
    grid-column: 1 / 13;

}

.slogan-1 {
    grid-row: 3 / 4;
    grid-column: 2 / 6;
}

.slogan-2 {
    grid-row: 4 / 5;
    grid-column: 2 / 7;
    transform: translate(2vw, -4vh);
}

.lead {
    background-image: linear-gradient( 170deg, hsla(350, 20%, 18%, 100) 0%, hsla(350, 20%, 18%, 0) 100%);
    grid-row: 5 / 6;
    grid-column: 2 / 7;
    /* transform: translate(2vw, -4vh); */
}

.lead h2 {
    font-size: 18px;
    padding: 4vw 4vh;
}


.photo--curtain {
   display: none;
}

.photo--injection {
    grid-row: 2 / 6;
    grid-column: 8 / 12;
}

.scroll-arrow-white {
    background-image: url(media/svg/down-arrow-white-1.svg);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center top;
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    transform: translate(-4vw, 6rem);
}

.scroll-arrow-white:hover {
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
}

.scroll-arrow-white a {
    display: block;
    height: 100%;
    width: 200%;
    transform: translate(-25%, -50%);
}

.photo--syringe-phone {
    display: none;
}

/*---------Section 2 - When --------*/

.when {
    min-height: 69vw;
    max-height: 70vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.photo--leaning {
    grid-row: 2 / 6;
    grid-column: 2 / 5;
    transform: translate(0vw, 6vh);
}

.photo--injection-tablet {
    display: none;
}


.when__text-background{
    background-image: linear-gradient( 170deg, hsla(350, 20%, 18%, 100) 0%, hsla(350, 20%, 18%, 0) 100%);
    grid-row: 2 / 6;
    grid-column: 6 / 12;
    /* transform: translate(0vw, 6vh); */
}

.when__text-background h3 {
    padding: 2vw 6vw;
}

.when__text-background p {
    max-width: 520px;
    padding: 2vw 6vw;
}


/*---------Section 3 - Zambia --------*/

.zambia {
    background-color: #111;
    min-height: 59vw;
    max-height: 60vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.video1 {
    grid-row: 1 / 7;
    grid-column: 1 / 5;
}

.quote1 {
    grid-row: 2 / 6;
    grid-column: 6 / 12;
}

blockquote {
    font-size: 1.62rem;
    line-height: 1.4;
}


/*---------Section 4 - You ------*/

.you {
    min-height: 69vw;
    max-height: 70vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.you__text-background {
    background-image: linear-gradient( 170deg, hsla(350, 20%, 18%, 100) 0%, hsla(350, 20%, 18%, 0) 100%);
    grid-row: 2 / 6;
    grid-column: 2 / 7;
}

.you__text-background h3 {
    padding: 2vw 6vw;
}

.you__text-background p {
    max-width: 520px;
    padding: 2vw 6vw;
}

.photo--beanie {
    grid-row: 2 / 6;
    grid-column: 8 / 12;
    /* transform: translate(0vw, 6vh); */
}

.photo--leaning-phone {
    display: none;
}


/*---------Results-------*/

.results {
    min-height: 69vw;
    max-height: 70vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.results-text {
    grid-row: 1 / 7;
    grid-column: 3 / 10;
    padding: 2vw 6vw;
    /* transform: translateY(0vw, 4vh); */
}

.results .spacer {
    transform: translateX(-40)

}
ul {
    padding-left: 4vw;
}

/* .scroll-arrow-white-tablet {
    display: none;
} */



/*----------Kenya----------------*/

.kenya-tablet {
    display: none;
}

.kenya {
    min-height: 59vw;
    max-height: 60vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.video2 {
    grid-row: 1 / 7;
    grid-column: 9 / 13;
    /* height: 100%; */
    /* width: auto; */
}

.quote2 {
    grid-row: 3 / 6;
    grid-column: 2 / 7;
}

.quote2 blockquote {
    color: #111;
}

.quote2 h3 {
    color: #111;
}

.scroll-arrow-black {
    background-image: url(media/svg/down-arrow-black-1.svg);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center top;
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    transform: translate(-4vw, 5rem);
}

.scroll-arrow-black:hover {
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
}

.scroll-arrow-black a {
    display: block;
    height: 100%;
    width: 200%;
    transform: translate(-25%, -50%);
}


/*----------Donate----------------*/

.donate {
    min-height: 69vw;
    max-height: 70vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.photo--syringe {
    grid-row: 3 / 6;
    grid-column: 1 / 7;
    transform: translateY(-6vh);
}

.donate__text-background {
    background-image: linear-gradient( 170deg, hsla(350, 20%, 18%, 100) 0%, hsla(350, 20%, 18%, 0) 100%);
    grid-row: 3 / 6;
    grid-column: 7 / 12;
    transform: translate(4vw, -6vh);
}

.donate__text-background h3 {
    padding: 2vw 6vw;
}

.donate__text-background p {
    max-width: 520px;
    padding: 2vw 6vw;
}

.photo--goggles-phone {
    display: none;
}

.button-container {
    grid-row: 4 / 5;
    grid-column: 7 / 12;
    /* transform: translateY(6vh); */
}

.button-filled {
    padding: 0.6rem 2rem;
    border-radius: 5%;
    
}

.button-ghost {
    
    padding: 0.6rem 2rem;
    border-radius: 5%;
}


/*------About---------*/

.about {
    min-height: 59vw;
    max-height: 60vw;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
}

.about__text-background {
    background-color: #fff;
    grid-row: 1 / 7;
    grid-column: 1 / 6;
}

.about__wrapper {
    grid-row: 1 / 6;
    grid-column: 1 / 5;
    transform: translate(4vw, 6vh);
}

.about__wrapper h3 {
    color: #111;
    padding: 2vw 6vw;
}

.about__wrapper p {
    color: #111;
    max-width: 520px;
    padding: 2vw 6vw;
}


.credit__text-background {
    background-color: #111;
    grid-row: 1 / 7;
    grid-column: 6 / 13;
}

.credit__wrapper {
    grid-row: 1 / 7;
    grid-column: 7 / 12;
    transform: translateY(6vh);
}

.scroll-arrow-top {
    background-image: url(media/svg/down-arrow-top-1.svg);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center top;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    transform: translate(-4vw, 5rem);
}

.scroll-arrow-top:hover {
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
}

.scroll-arrow-top a {
    display: block;
    height: 100%;
    width: 200%;
    transform: translate(-25%, -50%);
}

} /* viewport */