@media only screen and (max-width: 560px) {


    html {
        scroll-behavior: smooth;
    }

    body {
        font-size: 19px;
    }

    p {
        font-weight: 200;
    }


    .spacer {
        width: 60vw;
        transform: translateX(5vw);
    }



    /*---------Section 1 - Hero --------*/


    .hero {
        z-index: 0;
    }
    
    h1 {
        font-size: 11vw;
        font-weight: 100;
        padding: 1vmin 0 1vmin 3vmin;
    }
    
    .header {
    
        grid-row: 1 / 2;
        grid-column: 1 / 13;
        padding-top: 4vh;
    
    }
    
    .slogan-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 9;
    }
    
    .slogan-2 {
        grid-row: 3 / 4;
        grid-column: 1 / 12;
        transform: translate(2vw, -8vh);
    }
    
    .lead {
        background: rgba(255,255,255,0.5);
        /* background: transparent; */
        backdrop-filter: blur(4px);
        grid-row: 6 / 7;
        grid-column: 2 / 12;
        transform: translateY(-4vh);
        padding-top: 3vw;
        padding-left: 4vw;
        height: 12vh;
    }
    
    .lead h2 {
        font-size: 18px;
        padding: 2vw 2vh;
        color: #111;
        font-weight: 400;
    }
    
    
    .photo--curtain {
display: none;
    }
    
    .photo--injection {
        display: none;
    }

 
    .photo--syringe-phone {
        grid-row: 3 / 5;
        grid-column: 1 / 13;
        transform: translateY(6vh);

    }


    .scroll-arrow-1 {
        display: block;
    }

    /*---------Section 2--------*/



.when {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(26, 8.33vw);
}

.photo--injection-tablet {
    display: none;
}

.photo--leaning {
    display: none;
}


.when__text-background{
    /* background-image: linear-gradient( 170deg, hsla(350, 20%, 18%, 100) 0%, hsla(350, 20%, 18%, 0) 100%); */
    grid-row: 1 / 13;
    grid-column: 1 / 13;
    /* transform: translate(0vw, 6vh); */
}

.when__text-background h3 {
    padding: 2vw 6vw;
}

.when__text-background p {
    max-width: 520px;
    padding: 2vw 6vw;
}



/*---------Section 3 - Zambia --------*/

.zambia {
    background-color: #111;
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(33, 8.33vw);
}

.video1 {
    position: sticky;
    grid-row: 1 / 18;
    grid-column: 1 / 13;
    transform: translateY(8vw);
}

.quote1 {
    /* background: rgba(255,255,255,0.5); */
    /* background: transparent; */
    /* backdrop-filter: blur(4px); */
    grid-row: 20 / 25;
    grid-column: 2 / 12;
}

.zambia blockquote {
    /* font-family: 'Public Sans', sans-serif; */
    font-size: 1rem;
    line-height: 1.4;
}    

.zambia h3 {
    padding-top: 8vh;
    font-size: 1rem;
}


.zambia .scroll-arrow-white {
display: none;
}



/*---------Section 4 - You --------*/

.you {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(40, 8.33vw);
}

.you__text-background {

    grid-row: 4 / 12;
    grid-column: 1 / 12;
}

.you__text-background h3 {
    padding: 2vw 6vw;
}

.you__text-background p {

    padding: 2vw 6vw;
}

.photo--beanie {
    display: none;
}

.you .scroll-arrow-white {
   display: none;
}


.photo--leaning-phone {
    grid-row: 25 / 39;
    grid-column: 3 / 10;

}


/*---------Section 4 - Results --------*/

.results {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(18, 8.33vw);
}

.results-text {
    grid-row: 2 / 7;
    grid-column: 3 / 10;
    transform: translate(0vw, -4vh);
}

ul {
    padding-left: 4vw;
}

.results .stats li {
    padding-top: 2rem;
}


.results .scroll-arrow-white {
display: none;
}

.results .scroll-arrow-white-tablet {
    display: none;
}




/*---------Section 4 - Results --------*/

.results {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(36, 8.33vw);
}

.results-text {
    grid-row: 4 / 20;
    grid-column: 1 / 13;
    transform: translate(0vw, -4vh);
}

ul {
    padding-left: 4vw;
}


.results .stats li {
    padding-top: 2rem;
    flex-direction: row;
}

.results .scroll-arrow-white {
display: none;
}

.results .scroll-arrow-white-tablet {
display: none;
}


/*----------Kenya----------------*/

.kenya-tablet {
    display: none;
}

.kenya {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(6, 1fr);
}

.video2 {
    grid-row: 1 / 7;
    grid-column: 9 / 13;
    /* height: 100%; */
    /* width: auto; */
}

.quote2 {
    grid-row: 3 / 6;
    grid-column: 2 / 7;
}


.kenya blockquote {
    color: #111;
    font-size: 1rem;
    line-height: 1.4;
}    

.kenya h3 {
    color: #111;
    /* padding-top: 8vh; */
    font-size: 1rem;
}

.scroll-arrow-black {
  display: none;
}



/*--------- Section 7 - Donate --------------*/


.donate {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(30, 8.33vw);
}

.donate__text-background {
    grid-row: 6 / 18;
    grid-column: 1 / 12;
    transform: translate(4vw, -6vh);
}

.photo--syringe {
    display: none;
}

.photo--goggles-phone {
    grid-row: 19 / 26;
    grid-column: 1 / 13;
    /* transform: translateY(-6vh); */
}

.donate__text-background h3 {
    padding: 2vw 6vw;
}

.donate__text-background p {
    /* max-width: 520px; */
    padding: 2vw 6vw;
}

.donate .scroll-arrow-white {
display: none;
}


/*--------- Section 8 - About ------------*/


.about {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(50, 8.33vw);
    overflow:hidden;
}

.about__text-background {
    background-color: #fff;
    grid-row: 1 / 20;
    grid-column: 1 / 13;
}

.about__wrapper {
    grid-row: 1 / 6;
    grid-column:  1 / 12;
    transform: translate(4vw, 4vh);
}

.about__wrapper h3 {
    color: #111;
    /* padding: 2vw 6vw; */
}

.about__wrapper p {
    color: #111;
    /* max-width: 520px; */
    /* padding: 2vw 6vw; */
}

.credit__text-background {
    background-color: #111;
    grid-row: 20 / 50;
    grid-column: 1 / 13;
}

.credit__wrapper {
    grid-row: 21 / 40;
    grid-column: 1 / 12;
    transform: translate(4vw, 4vh);
}

.scroll-arrow-top {
display: none;
}



    /* ---- JS settings ----- */

    /* .animation-subheading{
        opacity: 1;
    }
    
    
    .animation-photo {
        opacity: 1;
    }
    
    
    .animation-when {
        opacity: 1;
    }
    
    .animation-results {
        opacity: 1;
    }
    
    .animation-list-item{
        opacity: 1;
    }
    
    .animation-donation {
        opacity: 1;
    }
 */

}